<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> آی دی </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> نام </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> جنسیت </th>
    <td mat-cell *matCellDef="let element"> {{translateGender(element.gender)}} </td>
  </ng-container>
  <ng-container matColumnDef="education">
    <th mat-header-cell *matHeaderCellDef> تحصیلات </th>
    <td mat-cell *matCellDef="let element"> {{translateEducation(element.education)}} </td>
  </ng-container>
  <ng-container matColumnDef="unitId">
    <th mat-header-cell *matHeaderCellDef> شناسه سازمان </th>
    <td mat-cell *matCellDef="let element"> {{element.unitId}} </td>
  </ng-container>
  <ng-container matColumnDef="mobile">
    <th mat-header-cell *matHeaderCellDef> موبایل </th>
    <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

