<span class="c-label">
  <ng-container *ngFor="let validation of config.validation">
  <span class="e-required" *ngIf="validation===Validators.required">*</span>
  </ng-container>
  <span class="e-label">{{config.label}}</span>
</span>
<mat-form-field class="o-formField " appearance="outline">
  <input
    [type]="config.type"
    [defaultValue]="config.defaultValue"
    [formControl]="formControl"
    ngDefaultControl
    matInput
  >
<!--  <button (click)="onIconClick()" matSuffix mat-icon-button>-->
<!--    <mat-icon>plus</mat-icon>-->
<!--  </button>-->
</mat-form-field>
<app-validation-errors [fControl]="formControl"></app-validation-errors>
